<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wing.lynne.mapper.UserMapper">
    <select id="findOne" resultType="java.lang.Integer">
      select count(1)+1 from user
    </select>

    <insert id="insertUser" parameterType="com.wing.lynne.po.User">
      insert into user (name,sex,age,birthday,phone,province,register_time,update_time)
      values (#{name,jdbcType=VARCHAR},#{sex},#{age},#{birthday},#{phone},#{province},#{registerTime},#{updateTime})
    </insert>
</mapper>